/* html,
body,
#react-root {
  height: 100%;
} */

body {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Comic Sans MS";
  margin: 0px;
  background-image: url(../../../public/banner.jpeg);
  background-size: 100% auto;
  background-repeat: repeat-y;

  /* color: #efefef; */
}

/* img {
  display: inline-block;
  max-width: 100%;
} */

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding-left: 30px;
  /* padding: 20px; */
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

button {
  display: inline-block;
  /* padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0; */
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

/* button:hover {
  background-color: #008183;
  text-decoration: none;
} */

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: white;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #dd2476;
  color: #dd2476;
}
button{
  border-color: #dd2476;
  background-color: rgba(51, 51, 51, 1);
  color: white;
}

button:hover {
  border-color: #dd2476;
  background-color: white;
  color: rgba(51,51,51,1);
}
/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */
/* .loginPage, .registerPage {
  background-image: url(../../../public/banner.webp);
} */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(176, 169, 169, 0.4);
}

.listViewContainer {
  margin-left: 25px;
}
input,
textarea {
  margin: 5px;
  margin-bottom: 10px;
}
.inputs {
  text-align: center;
}
.bold {
  font-weight: bold;
}

.concertList {
  max-width: 50%;
}
.about {
  text-align: center;
}

.listView {
  transition: all 0.4s ease;
  background: rgba(51, 51, 51, 0.1);

}
.listView:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.card {
  /* background: #333; */
  /* border: 1px solid #dd2476; */
  /* color: rgba(250, 250, 250, 0.8); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2 1rem;
  padding: 2rem;
  transition: transform 0.4s ease;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.minipic {
  height: 80px;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.minipic:hover {
  transform: scale(1.1);
}

.card-border {
  border: 2px solid #000;
  padding: 0px;
  margin: 15px;
  display: inline-block;
  box-sizing: border-box;
}
.card-content {
  width: 320px; /* Adjust the width to fit the desired content area width */
  height: 500px; /* Adjust the height to fit the desired content area height */
  overflow: hidden; /* Hide overflow content if it exceeds the specified size */
}
.date {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.venue,
.band {
  margin-left: 20px;
}
.liLocation {
  font-size: 14px;
}

.cardImgHolder {
  margin: 0;
  padding: 0;
  max-width: 300px;
}
.cardImgHolder img {
  margin: 0;
  padding: 0;
  max-height: 250px;
  max-width: 326px;
}
.cardImg {
  height: "250px";
  max-width: "330px" !important;
}
input,
textarea {
  border: 1.5px solid #ff0000; /* Red border */
}
hr {
  height: 1px;
  border: none;
  background-color: #dd2476;
  margin: 10px 0;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
  color: white;
}

label {
  color: white;
}
/* ImageModal.css */
.image-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content img {
  max-width: 100%;
  max-height: 90vh; /* Limit the height for smaller screens */
}

/* _-_-_-_-_-_-_-_-_ BOOTSTRAP FUN _-_-_-_-_-_-_-_-_*/

h1,
h2,
h3,
h4,
p,
ul {
  color: white !important;
}

:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
  --background-color: #333;
}
body {
  /* background: #111 ; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.card {
  background: rgba(51, 51, 51, 0.85);
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin: 2 1rem;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.concertForm, .editForm {
  background: rgba(51, 51, 51, 0.55);
  border: 1px solid #dd2476;
  margin: 0 auto;
  max-width: 33%;
}

.login, .about, .register {
  background: rgba(51, 51, 51, 0.55);
}
.login, .register {
  border: 1px solid #dd2476;

}
/* 
button {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) ;
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
  border-image-source: var(--gradient);
  text-decoration: none;
  transition: all 0.4s ease;
}

button:hover,
button:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
} 
  */
