/* html,
body,
#react-root {
  height: 100%;
} */
input {
  background-color: white;
}
body {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Sans-serif", "Arial";
  margin: 0px;
  background-color: #333;
  /* background-image: url(../../../public/banner.jpeg);
  background-size: 100% auto;
  background-repeat: repeat-y; */

  /* color: #efefef; */
}
body {
  background-image: url(../../../public/banner.jpeg);
  background-size: 100% auto;
  background-attachment: fixed;
}

/* img {
  display: inline-block;
  max-width: 100%;
} */

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding-left: 30px;
  /* padding: 20px; */
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

button {
  display: inline-block;
  /* padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0; */
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

/* button:hover {
  background-color: #008183;
  text-decoration: none;
} */

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border: 1px solid #dd2476;

  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: white;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #dd2476;
  color: #dd2476;
}
button, .button {
  border-color: #dd2476;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  border-radius: 10px;
}


button:hover, .button:hover {
  border-color: #dd2476;
  background-color: white;
  color: rgba(51, 51, 51, 1);
}
/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */
/* .loginPage, .registerPage {
  background-image: url(../../../public/banner.webp);
} */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(176, 169, 169, 0.4);
}

.listViewContainer {
  margin-left: 0px;
  align-items: center;
}
.listSearch {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.searchHolder {
  display: flex;
  justify-content: center;
}


.inputs {
  text-align: center;
}
.bold {
  font-weight: bold;
}

.about {
  text-align: center;
}
.indentBand {
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.indentHeader {
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.listHeader {
  text-align: center;
  /* background: rgba(51, 51, 51, 0.70); */
  align-items: center;
}
.listView {
  transition: all 0.4s ease;
  background: rgba(51, 51, 51, 0.75);
  padding-left: 0px;
  max-width: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

ul {
  padding: 0px;
}

.listViewContainer {
  /* display: flex; */
  display: inline;
  margin-right: auto;
  margin-left: auto;

  /* padding: 0; */
  /* margin: 0; */
}
.listView:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 1px 5px rgba(255, 255, 255, 2);
}
.card {
  background: #333;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2 1rem;
  padding: 2rem;
  transition: transform 0.4s ease;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardLabels {
  margin-left: 5px;
}
.minipic {
  height: 80px;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.minipic:hover {
  transform: scale(1.1);
}

.card-border {
  border: 2px solid #000;
  padding: 0px;
  margin: 15px;
  display: inline-block;
  box-sizing: border-box;
}
.card-content {
  width: 320px; /* Adjust the width to fit the desired content area width */
  height: 530px; /* Adjust the height to fit the desired content area height */
  overflow: hidden; /* Hide overflow content if it exceeds the specified size */
}
.date {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.venue,
.band {
  margin-left: 20px;
}
.liLocation {
  font-size: 14px;
}

.cardImgHolder {
  margin: 0;
  padding: 0;
  max-width: 300px;
}
.cardImgHolder img {
  margin: 0;
  padding: 0;
  max-height: 250px;
  max-width: 326px;
}
.cardImg {
  height: "250px";
  max-width: "330px" !important;
}
input,
textarea {
  border: 1.5px solid #dd2476;
  margin: 5px;
  margin-bottom: 10px;
    border-color: #dd2476; 
}
.control {
  border: 1.5px solid #dd2476;

}
hr {
  height: 2px;
  border: none;
  background-color: #dd2476;
  margin: 10px 0;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
  color: white;
}

label {
  color: white;
}

/* ImageModal.css */
.image-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content img {
  max-width: 100%;
  max-height: 90vh;
}

/* _-_-_-_-_-_-_-_-_ BOOTSTRAP FUN _-_-_-_-_-_-_-_-_*/

h1,
h2,
h3,
h4,
p,
ul {
  color: white !important;
}
h1,
h2 {
  text-align: center;
}

:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
  --background-color: #333;
}
body {
  /* background: #111 ; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.card {
  background: rgba(51, 51, 51, 0.85);
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin: 2 1rem;
  transition: transform 0.4s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.listView {

  margin-left: auto;
  margin-right: auto;
}
.concertCard {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.concertForm,
.editForm {
  background: rgba(51, 51, 51, 0.55);
  border: 1px solid #dd2476;
  margin: 0 auto;
  max-width: 33%;
}
li {
  display: flex;
}
.login,
.about,
.register {
  background: rgba(51, 51, 51, 0.65);
  border: 1.5px solid #dd2476;
}
.login,
.register {
  border: 1px solid #dd2476;
}

@media (max-width: 728px) {
  body {
    background-color: #333;
    background-image: none;
  }
}

.spotifyPlayer {
  display: flex;
}

.detailContainer {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  background-color: rgba(44, 44, 44, 0.6);
  margin: 1.74rem;
  justify-content:space-evenly;
  padding: 1.75rem;
  /* align-self: flex-start; */
  border-radius: 10px;
}
.detailVenue {
  text-align: center;
  background-color: rgba(44, 44, 44, 0.6);
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 3px;
}

h3.bold {
  margin: 0;
}

.image-container {
  display: flex;
  width: fit-content;
}

 /* .image-container{
 margin-left: -140px; 
 margin-top: 50px ;
}  */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form-control:focus {
  border-color: #dd2476; 
}
.artistContainer {
  display: flex;
  border: 1px solid #dd2476;
  margin-bottom: 25px;
  margin-right: 20px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
}
